.poster {
    max-width: 800px;
    max-height: 400px;
  }

.temporary_image {
  max-width: 800px;
    max-height: 400px;
}

body {
  color: rgb(218, 217, 217);
  background-color: rgb(27, 40, 56);
  font-family: Arial, Helvetica, sans-serif;
}

.navbar { 
  background-color: rgb(23, 29, 37)!important; 
  font-family: "Motiva Sans", Sans-serif;
  font-weight: normal;
  padding-left: 24vw;
  margin-bottom: 2rem;
  /* font-size: 14px; */
}

.dropdown-menu {
  color: rgb(209, 211, 213);
  background-color: rgb(61, 68, 80);
}

.card-img-top {
  height: 60px;
  width: 60px;
}

.nav-item a {
  color:rgb(220, 222, 223)!important; 
  font-weight: 500;
  
}

.left-link {
  /* padding-top: .25rem; */
  /* vertical-align: middle; */
  /* margin-top:  */
  line-height: 27px;
  padding-right: 1rem!important;
  padding-left: 1rem!important;
}

.navbar-brand {
  margin-top: -.5rem;
  color:rgb(220, 222, 223)!important; 
  font-size: 35px;
  padding-right: 3rem;
}

.logo-thumbnail {
  margin-top: .5rem;
  margin-right: -1.5rem;
  height: 210px;
  width: auto;
  padding: unset;
  /* border-radius: unset; */
}

.img-thumbnail {
  height: 30px;
  padding: unset;
  border-radius: unset;
}

.container-fluid {
  padding-right: 0!important;
  padding-left: 0!important;
}

h1 {
  color: rgb(49, 134, 188);
  margin-bottom: 2rem;
}

.btn {
  margin-top: 2rem;
  background-color: rgb(49, 134, 188);
  border-color: rgb(49, 134, 188);
}

.basic-text {
  font-size: 18px;
}

.compare-card {
  background-color: rgb(42, 71, 94);
  margin-bottom: 1rem;
}

.compare-card label {
  color: rgb(153, 193, 220)!important;
}

.friend-card {
  padding-top: 1rem;
  margin-bottom: 3rem;
  background-color: rgb(42, 71, 94);
}

.friend-card a {
  color: rgb(153, 193, 220);
  font-weight: 600!important;
  font-size: 18px;
  margin-left: 1rem;
}

a {
  text-decoration: none;
  color: rgb(218, 217, 217);
}

#main_navigation a {
  
  text-decoration: none;
  color: white;

}


/* div#global_header {
  background: #171d25;
  background-position: center top;
  min-width: 940px;
  font-family: "Motiva Sans", Sans-serif;
  font-weight: normal;
  font-size: 14px; */
/* } */

/* 
    steam logo and nage == 197, 195, 192

    top color == 23, 29, 37
    unselected nav bar text color == 220, 222, 223
    selected nav bar test == 26, 159, 255
    dropdown nav menu color == 61, 68, 80
    dropdown nav bar text color == 209, 211, 213

    

    background color == 27, 40, 56
    accent background color == 42, 71, 94

    text on bg is white
    unselected text on bg by accented color == 49, 134, 188

    /*