{% extends 'base.html' %}
{% block title %}Create Account{% endblock %}

{% block body %}
<!-- <h2>Create an Account</h2>
<form action="/create_account" method="POST">
  <p>
    SteamID <input type="text" name="steamid">
  </p>
  <p>
    Email <input type="text" name="email">
  </p>

  <p>
    Password <input type="password" name="password">
  </p>

  <p>
    <input type="submit">
  </p>
</form> -->

<h5 class="card-title account-title">CREATE YOUR ACCOUNT</h5>

<div class="card login-card" style="width: 30rem; height: 25.5rem;">
  <div class="card-body">
      <form action="/create_account" method="POST">
        <label class="steamid-login">SteamID</label><br>
          <input type="text" name="steamid" class="login-input" required>
  
        <label class="password-login">Email</label><br>
          <input type="text" name="email" class="login-input" required><br>

        <label class="password-login">Password</label><br>
          <input type="password" name="password" class="login-input" required><br>

        <input class="btn btn-create-account" type="submit" value="Create Account">
        
      </form>
  </div>
</div>

{% endblock %}
