{% extends 'base.html' %}
{% block title %}Games{% endblock %}

{% block body %}

<h1>{{ session['personaname'] }}'s Games</h1>

    {% if user_library %}
        {% for user_game in user_library %}
            <h3><img class="avatar" src="{{ user_game.game.img_icon_url }}">   {{ user_game.game.name }}</h3>
            <p>{{ user_game.game.summary }}</p>
            <a href="{{ user_game.game.game_url }}">View on Steam</a>
            <!-- <p>{{ user_game.game.genres }}</p> -->
            <br><br>
            
        {% endfor %}
    {% else %}
        <p>Oh uh, looks like we can't access your games list!<br>
            Check to see if your Steam privacy settings are set to private or friends only, and try again when they're public!</p>
    {% endif %}

{% endblock %}
