{% extends 'base.html' %}
{% block title %}{{ user.personaname }}'s Profile{% endblock %}

{% block body %}

<h1>{{ user.personaname }}</h1>
<img class="avatar" src="{{ user.avatarmedium }}"><br><br>

<a href="{{ user.profileurl }}">{{ user.personaname }}'s Steam page</a>


{% if session %}
    {% if session['steamid'] == user.steamid %}
    <h3>Privacy</h3>
    <p>SteamID: {{ user.steamid }}</p>
    <p>Email: {{ user.email }}</p>
    {% endif %}
{% endif %}

<!-- style="width: 18rem;" -->
<div class="card">
    <div class="card-body">
      <h5 class="profile-title">{{ user.personaname }}</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        
      <a href="#" class="card-link">Card link</a>
    </div>
  </div>


{% endblock %}